<!--for bottstrap -->
<script src="js/bootstrap/bootstrap.min.js" ></script>
<script src="js/bootstrap/bootswatch.js"></script>
<!--for date/time picker -->
<script type="text/javascript" src="js/datatimepicker/bootstrap-datetimepicker.min.js"></script>
<!--for highcharts-->
<script src="js/highchart/highcharts.js"></script>
<!--for calendar-->
<script type='text/javascript' src='js/fullcalendar/fullcalendar.min.js'></script>
<!--for googlemap-->
<script src="js/googlemap/map.js"></script>
<!--for angularjs bootstrap -->
<script src="js/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
<!--for i18n-->
<script src="js/i18n/jquery.i18n.properties-min-1.0.9.js"></script>
<!--for checkbox-->
<script src="js/checkbox/prettyCheckable.js"></script>

<!-- for bottstrap -->
<link rel="stylesheet" href="styles/bootstrap/bootstrap.css" media="screen">
<link rel="stylesheet" href="http://bootswatch.com/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="styles/bootstrap/bootswatch.min.css">
<!--for date/time picker -->
<link rel="stylesheet" type="text/css" media="screen" href="styles/datetimepicker/bootstrap-datetimepicker.min.css">
<!--for calendar-->
<link rel='stylesheet' type='text/css' href='styles/fullcalendar/fullcalendar.css' />
<!-- for chat -->
<link title="Style1" rel="stylesheet" type="text/css" href="styles/chat/chat.css" />
<!--for main-->
<link title="Style1" rel="stylesheet" type="text/css" href="styles/main.css" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"/>

<div ng-controller="MainCtrl" style="height: 100%;min-width: 328px">

    <div class="app-top">
        <h1 ng-model="title" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding-top: 5px" title="{{title}}">{{ title }}</h1>
    </div>

    <div class="app-middle">
        <div class="app-content">
            <ng-view></ng-view>
        </div>
    </div>

    <!--<ul class="nav nav-pills app-bottom" ng-show="isShowMenu">-->
    <ul class="nav nav-pills app-bottom" style="margin-left: -10px;margin-right: -10px">
        <li style="width: 25%;font-size: 15px;text-align: center" ng-click="selectMenu('my')" ng-class="{active : naviSelected1}"><a href="#my">{{ main_title_my }}</a></li>
        <li style="width: 25%;font-size: 15px;text-align: center" ng-click="selectMenu('create')" ng-class="{active : naviSelected2}"><a href="#new">{{ main_title_new }}</a></li>
        <li style="width: 24%;font-size: 15px;text-align: center" ng-click="selectMenu('credit')" ng-class="{active : naviSelected3}"><a href="#credit">{{ main_title_credit }}</a></li>
        <li style="width: 24%;font-size: 15px;text-align: center" ng-click="selectMenu('profile')" ng-class="{active : naviSelected4}"><a href="#profile">{{ main_title_profile }}</a></li>
    </ul>
</div>
