<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-10" style="height: 370px; overflow: auto;" scroll-glue>

                    <p class="head text-success">
                        {{ chat_chatbot_invated }}<a class="head text-success" href="" style="font-weight: bold" ng-repeat="participant in participants">{{ participant }}</a>. {{ chat_enjoy_self }}
                    </p>

                    <div ng-repeat="chat in chats" pseudo-elements="chat" ng-model="chat" ng-style="chat.style" ng-class="{bubbledLeft:chat.user.id==me.id, bubbledRight:chat.user.id!=me.id}">{{ chat.message }}</div>

                </div>
            </div>

            <hr style="margin-top: 5px;">

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input class="form-control" style="width: 65%;float: left;" type="text" placeholder="Input Message..." ng-model="sendMessage" ng-enter="clickSend()">

                    <div style="float: right;width:35%;">
                        <div style="float: right;" class="btn-group">
                            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="" ><span class="caret"></span></a>
                            <ul class="dropdown-menu" style="left: auto; right: -2px;top: auto;bottom: 32px">
                                <li><a href="" ng-click="clickActivity('vote')">{{ chat_go_vote }}</a></li>
                                <!--<li><a href="" ng-click="">Emoticon > ^^ / :-) / =33</a></li>-->
                            </ul>
                        </div>
                        <button style="float: right;margin-right: 5px" type="submit" class="btn btn-info" ng-click="clickSend()">{{ chat_message_send }}</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<button ng-click="backToDetail('promise')" ng-show="!isDirectRoute" class="btn btn-inverse icon-circle-arrow-left icon-white btn-back"/>