<style type="text/css">
    #map-canvas, #map_canvas {
        height: 100%;
    }

</style>


<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group" >
                <div class="col-lg-10" style="height: 375px;">
                    <div id="map-canvas"  ></div>
                </div>
                <div class="form-group" style="position: absolute; margin-top: -10px;padding-left: 15px" >
                    <div style="float: left" >
                        <div ng-repeat="participant in participants" style="float: left;margin-top: 8px">
                            <a id="btnParticipants" class="btn btn-small" href="" ng-style="participant.style" style="font-size: 10px; padding:1px;margin-right: 5px;margin-top: -3px;max-width: 70px; text-overflow:ellipsis;overflow:hidden;white-space:nowrap;" title="{{ participant.user }}">{{ participant.user }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<button ng-click="backToDetail('promise')" class="btn btn-inverse icon-circle-arrow-left icon-white btn-back"/>
