<style type="text/css">
    #calendar {
        width: 100%;
        margin: 0 auto;
        font-size: 12px;
    }
    h2 {
        font-size: 24px;
        height: 20px;
    }

    .fc-event-inner, .fc-event-title
    {
        text-overflow : ellipsis;
        overflow : hidden;
        white-space : nowrap;
    }

</style>

<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group" >
                <div class="col-lg-10">
                    <div name="calendar" id="calendar"></div>
                </div>
            </div>
            <!--<div name="details" id="details" class="ui-helper-hidden" title="Event Details">-->
            <!--<p>Event details</p>-->
            <!--</div>-->
        </fieldset>
    </form>
</div>